<?xml version="1.0" ?>
<launch>
  <arg name="reference_frame" default="world"/>
  <param name="optoforce_board" command="cat $(find sarafun_optoforce_calibration)/urdf/optoforce_board.urdf" />
  <!-- This transform contains the motion from the detected marker to the location of the optoforce main frame. See documentation -->
  
  <node pkg="tf" type="static_transform_publisher" name="optoforce_location" args="0.150 0.00 0.022 0.0 0 0  /ar_marker_0 /optoforce  100"/>
  <!-- manual adjustment-->
  <!--<node pkg="tf" type="static_transform_publisher" name="optoforce_location" args="0.150 -0.006 0.022 -0.01 0 0  /ar_marker_0 /optoforce  100"/> -->
  
  <node pkg="tf" type="static_transform_publisher" name="IRE_location" args="0 0 0.0 0 0 0  /optoforce /IRE005 100"/>
  
  <node name="display_calibration_pattern" pkg= "sarafun_optoforce_calibration" type= "display_calibration_pattern.py" output="screen" >
    <param name="reference_frame" type="str" value="$(arg reference_frame)"/>
  </node>
  <include file ="$(find sarafun_optoforce_calibration)/launch/display_wrench.launch"/>
</launch>
